<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Институт</th>
                <th>Кафедра</th>
                <th>Группа</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ФИО</th>
                <th>Институт</th>
                <th>Кафедра</th>
                <th>Группа</th>
                <th>Действия</th>
            </tr>
        </tfoot>
        <tbody>
            <% students.forEach((student)=> { %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.institute %></td>
                <td><%= student.department %></td>
                <td><%= student.group %></td>
                <td>
                    <div class="span2"></div>
                    <a class="btn btn-primary btn-block" href="/edit/<%= student.id %>">Портфолио</a>
                    <form style="display: inline;" action="/delete/<%= student.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2 btn-block">Удалить</button>
                    </form>
                </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('partials/footer') -%>